<!--<!DOCTYPE html>-->
<!--<html lang="en" dir="ltr">-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title></title>
<!-- <link rel="stylesheet" href="/css/style2.css"> -->
 <link rel="stylesheet" href="/css/style2.css"> 

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
	charset="utf-8"></script>
</head>
<body>

	<!--<form action="index.html" class="login-form">-->
	<form th:action="@{/login}" method="post" class="login-form">
		<!--    <h1>Login</h1>-->



		<img style="float: right; height: 51px; margin-top: 3px;"
			src="https://www.wafaassurance.ma/sites/default/files/x2fichier_23x.png" />

<!-- 
		<img style="height: 69px; margin-top: -10px;"
			src="http://beleefmarokko.com/images/logo3.PNG" /> -->





		<div th:if="${param.error}">
			<div class="alert alert-danger">Nom d'utilisateur ou mot de passe est incorrecte.</div>
		</div>
		<div th:if="${param.logout}">
			<div class="alert alert-info">You have been logged out.</div>
		</div>
		<!--        -->
		<div class="form-group txtb">
			<!--            <label for="username">Username</label>:-->
			<input type="text" id="username" name="username" class="form-control"
				autofocus="autofocus" placeholder="Username" />
			<!--            <span data-placeholder="Username"></span>-->
		</div>
		<!--    <div class="txtb">-->
		<!--        <input type="text">-->
		<!--        <span data-placeholder="Username"></span>-->
		<!--    </div>-->
		<div class="form-group txtb">
			<!--            <label for="password">Password</label>: -->
			<input type="password" id="password" name="password"
				class="form-control" placeholder="Password" />
		</div>
		<!--    <div class="txtb">-->
		<!--        <input type="password">-->
		<!--        <span data-placeholder="Password"></span>-->
		<!--    </div>-->
		<div class="form-group">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<!--                    <input type="submit" class="logbtn" value="Login">-->
					<input type="submit" name="login-submit" id="login-submit"
						class="form-control btn btn-primary logbtn" value="Login" />
				</div>
			</div>
		</div>
<!-- 		<div class="form-group bottom-text"> -->
<!-- 			<span>Don't have account?<a href="/" -->
<!-- 				th:href="@{/registration}"> Register here </a></span> -->
<!-- 		</div> -->
		<!--    <div class="bottom-text">-->
		<!--        Don't have account? <a href="#">Sign up</a>-->
		<!--    </div>-->

	</form>

	<script type="text/javascript">
		$(".txtb input").on("focus", function() {
			$(this).addClass("focus");
		});

		$(".txtb input").on("blur", function() {
			if ($(this).val() == "")
				$(this).removeClass("focus");
		});
	</script>


</body>
</html>
